@import "tailwindcss";

.board{
  border-left: 1px soid darkred;
  border-right: 1px soid darkred;
  border: 1px solid darkred;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 6rem;
}

.board-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.square{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: black;
  border: 1px solid darkred;
  float: left;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.125rem;
  height: 2rem;
  width: 2rem;
  text-align: center;
}