@import "tailwindcss";

.moves{
  scroll-margin-right: 0.25rem;
}

.board-frame{
  margin: 0.125rem;
  padding: .25rem;
}

.board{
  border: 2px solid darkred;
}


.board-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.square{
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 3rem;
  font-weight: bold;
  line-height: 2.125rem;
  height: 4.5rem;
  width: 4.5rem;
  border: 2px solid darkred;
  text-align: center;
}

.winner{
  margin: .5rem;
  padding: .25rem;
  background-color: rgba(222, 194, 32, 0.888);
}